<div id="home">
  <div class="landing-text">
    <h1>MEGATRAVEL</h1>
    <h3>Book some of the best hotels in the world.</h3>
    <button routerLink='/hotels' type="button" class="btn btn-lg btn-outline-warning">See our accommodations</button>
  </div>
</div>

<div class="padding">
    <div class="container">
      <div class="row mt-5">
        <div class="col-sm-6">
          <img class="img70" src="assets/img/about-us.jpg"/>
        </div>
        <div class="col-sm-6 text-center">
          <h2>All about Megatravel</h2>
          <p class="lead">
              Build responsive, mobile-first projects on the web with the world’s most popular front-end component library. 
          </p>
          <p class="lead">
              Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery. 
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="fixed">
  </div>