<div class="container mt-5">
  <h2 class="green mb-4">Sign In</h2>  
  <form>
      <fieldset>
        <div class="form-group">
          <label>Username</label>
          <input required="true" type="text" class="form-control" placeholder="Enter your username.">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input required="true" type="password" class="form-control" placeholder="Enter your password.">
          </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>  
      </fieldset>
    </form>
  </div>
