<div class="container mt-5">
    <h2 class="orange mb-4">Agent Registration</h2>
   
      <fieldset>
        <div class="form-group">
          <label>Username</label>
          <input [(ngModel)]="agent.username" required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input [(ngModel)]="agent.ime" required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input [(ngModel)]="agent.prezime" required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Address</label>
          <input [(ngModel)]="agent.adresa" required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Business Registration Number</label>
          <input [(ngModel)]="agent.posMatBroj" required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input [(ngModel)]="agent.email" required="true" type="email" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" (click)="registerAgent()" value="Submit" class="btn btn-primary">Submit</button>
        </div>  
      </fieldset>
    
</div>