<div class="container mt-5">
    <h2 class="orange mb-4">Agent Registration</h2>
    <form>
      <fieldset>
        <div class="form-group">
          <label>First Name</label>
          <input required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input required="true" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Address</label>
          <input required="true" type="text" class="form-control">
          </div>
        <div class="form-group">
          <label>Business Registration Number</label>
          <input required="true" type="text" class="form-control" aria-describedby="brnHelp">
          <small id="brnHelp" class="form-text text-muted">Business Registration Number has to be unique.</small>
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input required="true" type="email" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" routerLink="" (click)="showSuccess()" value="Submit" class="btn btn-primary">Submit</button>
        </div>  
      </fieldset>
    </form>
</div>