<div *ngIf="hotel" class="container pt-3 pb-3 mt-2">
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" class="active"></li>
    <li *ngFor = "let slika of hotel.slike | slice:1" data-target="#demo"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="item">
        <img src="{{hotel.slike[0]}}" class="card-img-top" alt="Los Angeles">
      </div>
    </div>
    <div *ngFor="let slika of hotel.slike | slice:1" class="carousel-item">
      <div class="item">
        <img src="{{slika}}" class="card-img-top" alt="Chicago">
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
  <div class="row ml-3 mt-3 white">
    <h1>{{hotel.naziv}}</h1>
  </div>
  <div class="row ml-3 white">
    <div class="col">
    <table class="table table-striped">
      <tr class="white">
        <td>Type:</td>
        <td>{{hotel.tip}}</td>
      </tr>
      <tr class="white">
        <td>Address:</td>
        <td>{{hotel.ulica}} {{hotel.broj}}, {{hotel.mesto}}</td>
      </tr>
      <tr class="white">
        <td>Description:</td>
        <td>{{hotel.opis}}</td>
      </tr>
      <tr class="white">
        <td>
          <button class="btn btn-warning mt-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Check our rooms
          </button>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="col">
      <h4>Services</h4>
      <table class="table table-striped">
        <tr class="white">
          <th>Name:</th>
          <th>Price:</th>
          <th>Description:</th>
        </tr>
        <tr *ngFor="let usluga of hotel.usluge" class="white">
          <td>
            {{usluga.naziv}}
          </td>
          <td>
            {{usluga.cena}}$
          </td>
          <td>
            {{usluga.opis}}
          </td>
        </tr>
      </table>
  </div>
  </div>
  <div class="row ml-auto mr-auto mt-1 pb-3 white rooms">
    <div class="col">
    <div class="collapse" id="collapseExample">
          <h4>Rooms</h4>
          <table class="table table-striped table-light rooms">
            <tr>
              <td>
                From:
              </td>
              <td>                 
                <input type="date" class="form-control" [(ngModel)]="from">
              </td>
              <td>
                To:
              </td>
              <td>                 
                <input type="date"  class="form-control" [(ngModel)]="to">                 
              </td>
              <td>         
                <button type="button" (click)="applyButton()" class="btn btn-primary">Apply</button>   
              </td>
            </tr>
            <tr>
              <th>Number:</th>
              <th>Price:</th>
              <th>Number of beds:</th>
              <th>Available:</th>
              <th></th>
            </tr>
            <tr *ngFor="let sj of hotel.sjedinice">
              <td>
                {{sj.broj}}
              </td>
              <td>
                {{sj.cena}}$
              </td>
              <td>
                {{sj.brojKreveta}}
              </td>
              <td>
                {{sj.dostupnost}}
              </td>
              <td>
                <button (click)="Book(hotel.id,sj.id)" *ngIf="sj.dostupnost && book == true" class="btn btn-success">Book</button>   
              </td>
            </tr>
          </table>
    </div>
    </div>
  </div>
  <div class="container ml-auto mr-auto mt-5">
    <h2 class="white mb-4">Comments</h2>
      <div *ngFor="let k of komentari" class="card mt-3 ml-5 mr-5">
          <div class="card-header" id="headingOne">
            <div class="row">
              <div class="col text-left">
                <h4 class="mb-0"><b>{{k.username}}</b></h4>
              </div>
              <div class="col text-right">
                <i class="fa fa-star fa-lg"></i>
                <i class="fa fa-star fa-lg" *ngIf="k.vrednost>=2"></i>
                <i class="fa fa-star-o fa-lg" *ngIf="k.vrednost<2"></i>
                <i class="fa fa-star fa-lg" *ngIf="k.vrednost>=3"></i>
                <i class="fa fa-star-o fa-lg" *ngIf="k.vrednost<3"></i>
                <i class="fa fa-star fa-lg" *ngIf="k.vrednost>=4"></i>
                <i class="fa fa-star-o fa-lg" *ngIf="k.vrednost<4"></i>
                <i class="fa fa-star fa-lg" *ngIf="k.vrednost==5"></i>
                <i class="fa fa-star-o fa-lg" *ngIf="k.vrednost<5"></i>
              </div>
            </div>
          </div>
          <div class="card-body" *ngIf="k.text!=''">
            <p>{{k.text}}</p>
          </div>
      </div>
  </div>
</div>
