<div class="container pt-3 pb-3 mt-2">
<div id="demo" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="item">
        <img src="assets/img/h1.jpg" class="card-img-top" alt="Los Angeles">
      </div>
    </div>
    <div class="carousel-item">
      <div class="item">
        <img src="assets/img/h2.jpg" class="card-img-top" alt="Chicago">
      </div>
    </div>
    <div class="carousel-item">
      <div class="item">
        <img src="assets/img/h3.jpg" class="card-img-top" alt="New York">
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
  <div class="row ml-3 mt-3 white">
    <h3>Four Seasons</h3>
  </div>
  <div class="row ml-3 white">
    <div class="col">
    <table class="table table-striped table-dark">
      <tr>
        <td>Type:</td>
        <td>Hotel</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>57 E 57th St, New York, NY‎</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>The most luxurious hotel in Manhattan.</td>
      </tr>
      <tr>
        <td><a routerLink="/hotelProfile" class="btn btn-warning">Check out rooms</a></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="col">
      <h4>Services</h4>
      <table class="table table-striped table-dark">
        <tr class="white-background">
          <th>Name:</th>
          <th>Price:</th>
        </tr>
        <tr class="white">
          <td>
            Wi-Fi
          </td>
          <td>
            10$
          </td>
        </tr>
      </table>
  </div>
  </div>
</div>
