
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class = "set">
<div class="mainContainer">
<h3 id="header">New Accomodation</h3>
<div class="container">
    <form>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Name of accomodation: </label>
                        <input name="naziv" [(ngModel)]="accomodation.naziv" type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="place">Place: </label>
                        <input name="place" [(ngModel)]="accomodation.mesto" type="text" class="form-control" id="place">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                    <label for="InputAddress">Address: </label>
                    <input name="ulica" type="text" [(ngModel)]="accomodation.ulica" class="form-control" id="InputAddress" placeholder="Enter address">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                    <label for="inputNumber">Number: </label>
                    <input name="broj" type="number" [(ngModel)]="accomodation.broj" class="form-control" id="inputNumber">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                    <label for="InputLatitude">Latitude: </label>
                    <input name="latitude" type="text" [(ngModel)]="accomodation.latitude" class="form-control" id="InputLatitude">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                    <label for="InputLongitude">Longitude: </label>
                    <input name="longitude" type="text" [(ngModel)]="accomodation.longitude" class="form-control" id="InputLongitude">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPosBroj">Zip code: </label>
                <input name="posBroj" type="text" [(ngModel)]="accomodation.posBroj" class="form-control" id="inputPosBroj" placeholder="Enter zip code">
            </div>
            
            <div class="form-group">
                <label for="selectType">Type: </label>
                <select name="tip" [(ngModel)]="accomodation.tip" class="form-control" id="selectType">
                        <option *ngFor="let type of typesOfAccomodation" value="{{type.id}}">{{type.naziv}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="additionalServices">Additional services: </label>
                <select class="form-control" rows="5" id="additionalServices" [(ngModel)]="accomodation.additionalServices" [ngModelOptions]="{standalone: true}"  multiple>
                    <option *ngFor="let service of servicesOfAccomodation" value="{{service.id}}">{{service.naziv}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="daysToCancel">Days before cancel get paid: </label>
                <input name="periodOtkaza" [(ngModel)]="accomodation.periodOtkaza" type="number" class="form-control" id="daysToCancel" min="0">
            </div>

            <button type="submit" (click)="add()" class="btn btn-primary">Add accomodation</button>
            
        </div>
        <div class="col-1">
        </div>
        <div class="col-5"> 
            <div class="form-group">
                <label for="description">Description: </label>
                <textarea name="opis" [(ngModel)]="accomodation.opis" class="form-control" rows="4" id="description"></textarea>
            </div>
            <div style="margin-bottom: 20px">
            <div class="row" style="margin:auto;" *ngIf="showImage">
                <img style="margin: auto;" [src]='source' height="200">
            </div>
            </div>
            <div class="form-group">       
                <label for="browseImages" style="margin-right: 20px;">Add Images: </label>                   
                <input id="browseImages"  type="file" accept="image/*" (change)="updateSource($event)">
            </div>  
            
            <div class="row" style="margin-top: 20px;" *ngIf="images.length > 0">
                <div class="form-group-row">
                    <button style="text-align: center" type="button" class="btn btn-link" (click)="showListImg()">{{btnText}}</button>
                </div> 
            </div>
            <div class="row" style="margin: auto"  *ngIf="showImageList">
                <ul style="width: 100%;" class="list-group">
                    <li style="display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;" *ngFor="let image of images; let i = index" class="list-group-item">
                     {{'Slika '+(i+1)}}
                     <button style="text-align: center;" type="button" class="btn btn-link" (click)="show(image.id)">Show img</button>
                     <button style="text-align: center; color: red;" type="button" class="btn btn-link" (click)="remove(image.id)">Remove img</button>
                    </li>    
                </ul>
            </div>

        </div>
    </div>
    </form>
</div>
</div>
</div>