<div class="container mt-5">
    <h2 class="orange mb-4">Manage Categorization</h2>

    <div class="row">
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionFive">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" id="headingFive">
                 
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                 
                </div>
            
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFive">
                  <div class="card-body">
                      <div *ngFor="let u of five.in" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                        <input (change)="checkFive($event,u)" checked type="checkbox" class="custom-control-input" id="Five{{u.id}}">
                        <label class="custom-control-label" for="Five{{u.id}}">{{u.naziv}}</label>                                                                     
                      </div>
                      <div *ngFor="let u of five.out" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                          <input (change)="checkFive($event,u)" type="checkbox" class="custom-control-input" id="Five{{u.id}}">
                          <label class="custom-control-label" for="Five{{u.id}}">{{u.naziv}}</label>                                                                     
                      </div>
                      <button (click)="setServicesForCategory(1,five.in)" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionFour">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" id="headingFour">
                  
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    
                </div>
            
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFour">
                  <div class="card-body">
                      <div *ngFor="let u of four.in" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                          <input (change)="checkFour($event,u)" checked type="checkbox" class="custom-control-input" id="Four{{u.id}}">
                          <label class="custom-control-label" for="Four{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                        <div *ngFor="let u of four.out" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                            <input (change)="checkFour($event,u)" type="checkbox" class="custom-control-input" id="Four{{u.id}}">
                            <label class="custom-control-label" for="Four{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                      <button (click)="setServicesForCategory(2,four.in)" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionThree">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="headingThree">
                 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                  
                </div>
            
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionThree">
                  <div class="card-body">
                      <div *ngFor="let u of three.in" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                          <input (change)="checkThree($event,u)" checked type="checkbox" class="custom-control-input" id="Three{{u.id}}">
                          <label class="custom-control-label" for="Three{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                        <div *ngFor="let u of three.out" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                            <input (change)="checkThree($event,u)" type="checkbox" class="custom-control-input" id="Three{{u.id}}">
                            <label class="custom-control-label" for="Three{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                      <button (click)="setServicesForCategory(3,three.in)" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
  
      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionTwo">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo">
                  
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                  
                </div>
            
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
                  <div class="card-body">
                      <div *ngFor="let u of two.in" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                          <input (change)="checkTwo($event,u)" checked type="checkbox" class="custom-control-input" id="Two{{u.id}}">
                          <label class="custom-control-label" for="Two{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                        <div *ngFor="let u of two.out" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                            <input (change)="checkTwo($event,u)" type="checkbox" class="custom-control-input" id="Two{{u.id}}">
                            <label class="custom-control-label" for="Two{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                      <button (click)="setServicesForCategory(4,two.in)" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>

      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionOne">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                  
                        <i class="fa fa-star fa-lg"></i>
          
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOne">
                  <div class="card-body">
                      <div *ngFor="let u of one.in" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                          <input (change)="checkOne($event,u)" checked type="checkbox" class="custom-control-input" id="One{{u.id}}">
                          <label class="custom-control-label" for="One{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                        <div *ngFor="let u of one.out" class="custom-control custom-checkbox ml-2 mt-1 mb-1">                                           
                            <input (change)="checkOne($event,u)" type="checkbox" class="custom-control-input" id="One{{u.id}}">
                            <label class="custom-control-label" for="One{{u.id}}">{{u.naziv}}</label>                                                                     
                        </div>
                      <button (click)="setServicesForCategory(5,one.in)" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</div>
