<div class="container mt-5">
    <h2 class="orange mb-4">Manage Categorization</h2>

    <div class="row">
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionFive">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" id="headingFive">
                 
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                      <i class="fa fa-star fa-lg"></i>
                 
                </div>
            
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFive">
                  <div class="card-body">
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Five1">
                          <label class="custom-control-label" for="Five1">Wi-Fi</label>
                      </div>
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Five2">
                          <label class="custom-control-label" for="Five2">Parking Garage</label>
                      </div>
                      <button (click)="showSuccess()" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionFour">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour" id="headingFour">
                  
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    
                </div>
            
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFour">
                  <div class="card-body">
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Four1">
                          <label class="custom-control-label" for="Four1">Wi-Fi</label>
                      </div>
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Four2">
                          <label class="custom-control-label" for="Four2">Parking Garage</label>
                      </div>
                      <button (click)="showSuccess()" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionThree">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="headingThree">
                 
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                  
                </div>
            
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionThree">
                  <div class="card-body">
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Three1">
                          <label class="custom-control-label" for="Three1">Wi-Fi</label>
                      </div>
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Three2">
                          <label class="custom-control-label" for="Three2">Parking Garage</label>
                      </div>
                      <button (click)="showSuccess()" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
  
      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionTwo">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo">
                  
                    <i class="fa fa-star fa-lg"></i>
                    <i class="fa fa-star fa-lg"></i>
                  
                </div>
            
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
                  <div class="card-body">
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Two1">
                          <label class="custom-control-label" for="Two1">Wi-Fi</label>
                      </div>
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="Two2">
                          <label class="custom-control-label" for="Two2">Parking Garage</label>
                      </div>
                      <button (click)="showSuccess()" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>

      </div>
      <div class="col lg-2 mg-2 xs-2">
          <div id="accordionOne">
              <div class="card mt-3">
                <div class="card-header red" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                  
                        <i class="fa fa-star fa-lg"></i>
          
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOne">
                  <div class="card-body">
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="One1">
                          <label class="custom-control-label" for="One1">Wi-Fi</label>
                      </div>
                      <div class="custom-control custom-checkbox ml-2 mt-1 mb-1">
                          <input type="checkbox" class="custom-control-input" id="One2">
                          <label class="custom-control-label" for="One2">Parking Garage</label>
                      </div>
                      <button (click)="showSuccess()" class="btn btn-primary mt-5">Apply</button>  
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</div>
