<div class="set">
  <div class="mainContainer">
  <h3 id="header">Confirm password</h3>
  <div class="container">
    <form>
          <div class="form-group">
          <label for="place">Password: </label>
          <input name="broj" [(ngModel)]="password" type="password" class="form-control" id="broj">
          </div>  
          <div class="form-group">
          <label for="brojKreveta">Confrim password: </label>
          <input name="brojKreveta" [(ngModel)]="repeatPassword" type="password" class="form-control" id="brojKreveta">
          <small *ngIf="showError" id="emailHelp" class="form-text text-muted">passwords do not match</small>
        </div>  
          <div class="row">
          <div class="col-6">
            <button type="submit" (click)="confirm()" class="btn btn-primary">Confirm</button>  
          </div>
          <div  class="col-6" >
            <button type="submit" (click)="cancel()" class="btn btn-warning" style="float: right;" >Cancel</button>  
          </div>
          </div>
    </form>
  </div>
  </div>
</div>

