<div class="container mt-5">
  <h2 class="orange mb-4">Users</h2>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users;let i = index">
          <td>{{i+1}}</td>
          <td>{{u.username}}</td>
          <td>
            <button *ngIf="u.status=='BLOCKED'" (click)="activateButton(u)" class="btn btn-success" id="activate{{u.id}}"><i class="fa fa-check"></i> Activate</button>
            <button *ngIf="u.status=='ACTIVE'" (click)="blockButton(u)" class="btn btn-danger" id="block{{u.id}}"><i class="fa fa-ban"></i> Block</button>
          </td>
          <td><button (click)="deleteButton(u)" class="btn btn-dark" id="delete{{u.id}}"><i class="fa fa-trash"></i> Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>