<div class="container mt-5">
  <h2 class="orange mb-4">Users</h2>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>shekrba</td>
          <td><button (click)="activateButton()" class="btn btn-success" id="activate"><i class="fa fa-check"></i> Activate</button></td>
          <td><button (click)="blockButton()" class="btn btn-danger" id="block" disabled><i class="fa fa-ban"></i> Block</button></td>
          <td><button class="btn btn-dark" id="delete"><i class="fa fa-trash"></i> Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>