<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body> 
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div *ngIf="showNavBar | async" class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Agent </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/accomodations" ><i  class="fa fa-hotel"></i>Accomodations</a>
                <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/messages"><i  class="fa fa-inbox"></i>Inbox</a>
                <a href="#" class="list-group-item list-group-item-action bg-light" ><i  class="fa fa-history"></i>Reservations</a>
                <a href="#" class="list-group-item list-group-item-action bg-light"><i  class="fa fa-redo"></i>Refresh</a>
            </div>
            </div>
            <div style="width: 100%; overflow-y:auto; height: 100%;">
                <router-outlet></router-outlet>
            </div>

        </div>
</body>