<div class="container mt-5">
    <h2 class="orange mb-4">Edit Service: {{usluga.naziv}}</h2>
      <fieldset>
        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="usluga.naziv" required="true" type="text" class="form-control" value="{{usluga.naziv}}">
        </div>
        <div class="form-group">
          <label>Price</label>
          <input [(ngModel)]="usluga.cena" required="true" type="text" class="form-control" value="{{usluga.cena}}">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input [(ngModel)]="usluga.opis" type="text" class="form-control" value="{{usluga.opis}}">
        </div>
        <div class="form-group">
          <button type="submit" (click)="updateService()" value="Submit" class="btn btn-primary">Submit</button>
        </div>  
      </fieldset>
</div>