<div class="container mt-5">
  <h2 class="orange">Dashboard</h2>
  
  <div class="container pt-3">
    <div class="row">
      <div class="col xs-3 md-3 lg-3">
        <div class="square-service-block">
            <a routerLink="/types">
                <div class="ssb-icon"><i class="fa fa-building fa-4x" aria-hidden="true"></i></div>  
            </a>
        </div>
      </div>
      <div class="col xs-3 md-3 lg-3">
          <div class="square-service-block">
              <a routerLink="/categorization">
                  <div class="ssb-icon"><i class="fa fa-star fa-4x" aria-hidden="true"></i></div>  
              </a>
          </div>
      </div>
      <div class="col xs-3 md-3 lg-3">
          <div class="square-service-block">
              <a routerLink="/services">
                  <div class="ssb-icon"><i class="fa fa-wifi fa-4x" aria-hidden="true"></i></div>  
              </a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col xs-3 md-3 lg-3">
          <div class="square-service-block">
              <a routerLink="/comments">
                  <div class="ssb-icon"><i class="fa fa-comment-o fa-4x" aria-hidden="true"></i></div>  
              </a>
          </div>
      </div>
      <div class="col xs-3 md-3 lg-3">
          <div class="square-service-block">
              <a routerLink="/users">
                  <div class="ssb-icon"><i class="fa fa-users fa-4x" aria-hidden="true"></i></div>  
              </a>
          </div>
      </div>
      <div class="col xs-3 md-3 lg-3">
          <div class="square-service-block">
              <a routerLink="/agent">
                  <div class="ssb-icon"><i class="fa fa-user-secret fa-4x" aria-hidden="true"></i></div>  
              </a>
          </div>
      </div>
      <div class="col xs-3 md-3 lg-3">
        <div class="square-service-block">
            <a routerLink="/admin">
                <div class="ssb-icon"><i class="fa fa-user-o fa-4x" aria-hidden="true"></i></div>  
            </a>
        </div>
      </div>
    </div>
  </div>
</div>